/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: var(--black);
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

@media (max-width: 1599px) {
  .container {
    width: 734px;
  }
}

@media (max-width: 767px) {
  .container {
    width: 343px;
  }
}

.header {
  background-color: #222222;
}

.header__wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 75px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.header__logo-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.header__logo {
  margin: 0 41px 0 0;
}

.header__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.header__form:before {
  content: '';
  position: absolute;
  width: 28px;
  height: 28px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  background-image: url(../img/search.svg);
  background-size: 28px 28px;
}

.header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  background: transparent;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  height: 30px;
  border-radius: 17px;
  padding: 15px 35px;
}

.header__search:hover, .header__search:focus {
  background: white;
}

.header .input:hover, .header .input:focus {
  cursor: pointer;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__burger {
  border: none;
  background-color: transparent;
}

.header__burger:hover {
  fill: #F16D7F;
  cursor: pointer;
}

.header__menu {
  display: none;
  position: absolute;
  background: #FFFFFF;
  width: 230px;
  height: 765px;
  top: 100%;
  right: -235px;
}

.header__menu:hover {
  display: block;
}

.header__burger:hover + .header__menu,
.header__burger:focus + .header__menu {
  display: block;
}

.header__menu-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #222222;
  text-transform: uppercase;
  padding: 7px 0 12px 33px;
}

.header__menu-item {
  padding: 0;
  margin: 0;
}

.header__subtitle-link {
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  text-transform: uppercase;
  padding: 0 0 12px 33px;
  text-decoration: none;
}

.header__sub-item {
  margin: 15px;
}

.header__sub-list {
  padding: 0 0 11px 27px;
}

.header__sub-link {
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  text-decoration: none;
}

.header__sub-link:hover {
  color: #F16D7F;
  cursor: pointer;
}

.header__icon {
  fill: #FFFFFF;
  position: relative;
}

.header__icon:hover {
  fill: #F16D7F;
  cursor: pointer;
}

.header__link {
  margin: 0 0 0 34px;
  fill: #FFFFFF;
  position: relative;
}

@media (max-width: 767px) {
  .header__link {
    display: none;
  }
}

.header__link:hover {
  fill: #F16D7F;
  cursor: pointer;
}

.brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 765px;
}

@media (max-width: 1599px) {
  .brand {
    min-height: 370px;
  }
}

.brand__img {
  width: 50%;
}

@media (max-width: 1599px) {
  .brand__img {
    min-height: 370px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (max-width: 767px) {
  .brand__img {
    display: none;
  }
}

.brand__title-wrp {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0 0 0 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F1E4E6;
}

@media (max-width: 1599px) {
  .brand__title-wrp {
    padding: 0 0 0 83px;
  }
}

@media (max-width: 767px) {
  .brand__title-wrp {
    min-height: 363px;
  }
}

.brand__title {
  font-size: 48px;
  line-height: 58px;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
  position: relative;
}

@media (max-width: 1599px) {
  .brand__title {
    font-size: 44px;
    line-height: 53px;
    font-weight: 900;
    font-style: normal;
  }
}

@media (max-width: 767px) {
  .brand__title {
    font-size: 38px;
    line-height: 46px;
    font-weight: 900;
    font-style: normal;
    margin-left: -20px;
  }
}

.brand__title :before {
  content: '';
  width: 12px;
  height: 92px;
  position: absolute;
  background-color: #F16D7F;
  left: -28px;
  top: 5px;
}

.brand__subtitle {
  display: block;
  font-size: 37px;
  line-height: 44px;
  font-weight: 700;
  font-style: normal;
}

@media (max-width: 1599px) {
  .brand__subtitle {
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    font-style: normal;
  }
}

@media (max-width: 767px) {
  .brand__subtitle {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    font-style: normal;
  }
}

.brand__subtitle-pink {
  color: #F16D7F;
}

.categories {
  padding-top: 65px;
}

.categories__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.categories__item {
  width: 360px;
  height: 260px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media (max-width: 1599px) {
  .categories__item {
    width: 233px;
  }
}

@media (max-width: 767px) {
  .categories__item {
    width: 343px;
  }
}

.categories__item--women {
  background-image: url(..//img/category-women.jpg);
  background-size: cover;
  background-position: center;
}

.categories__item--men {
  background-image: url(..//img/category-men.jpg);
  background-size: cover;
  background-position: center;
}

.categories__item--kids {
  background-image: url(..//img/category-kids.jpg);
  background-size: cover;
  background-position: center;
  background-size: cover;
}

.categories__item--accesories {
  background-image: url(..//img/category-accesories.jpg);
  min-height: 180px;
  width: 100%;
}

.categories__item-text {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #F1E4E6;
  padding: 105px;
  text-transform: uppercase;
}

.categories__item-text-pink {
  color: #F16D7F;
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  font-style: normal;
}

.categories .item-text-accesories {
  padding: 65px;
}

.products {
  padding-top: 95px;
  padding-bottom: 95px;
}

.products__title {
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  text-align: center;
  margin-bottom: 6px;
}

.products__subtitle {
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  text-align: center;
  margin-bottom: 48px;
}

.products__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.products__img {
  width: 100%;
}

.products__item {
  background: #F8F8F8;
  width: 360px;
}

.products__wrapper {
  position: relative;
}

.products__overlay {
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.products__button {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 139px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  padding: 15px 0;
  text-decoration: none;
  border: 2px solid #FFFFFF;
  background: rgba(0, 0, 0, 0.4);
}

.products__button, .products__overlay {
  display: none;
}

.products__item:hover .products__button,
.products__item:hover .products__overlay {
  display: block;
}

.products__button:hover, .products__button:focus {
  opacity: 0.5;
  cursor: pointer;
  outline: none;
}

.products__button:active {
  opacity: 1;
}

.products__item-text {
  padding: 24px 28px 20px 18px;
}

.products__item-caption {
  font-size: 13px;
  line-height: 16px;
  color: #222222;
  padding-bottom: 13px;
  text-transform: uppercase;
}

.products__item-desc {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  padding-bottom: 18px;
}

.products__item-price {
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.products__browse {
  width: 212px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.04em;
  color: #F16D7F;
  padding: 15px 0;
  text-decoration: none;
  background-color: #FFFFFF;
  border: 2px solid #F26376;
  margin-top: 63px;
}

.products__browse:hover, .products__browse:focus, .products__browse:active {
  cursor: pointer;
  outline: none;
  color: #FFFFFF;
  background-color: #F16D7F;
}

.features {
  background: #222222;
  color: #FFFFFF;
  padding: 105px 0;
}

.features__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 25px;
}

@media (max-width: 1599px) {
  .features__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.features__list {
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features__logo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 25px;
}

.features__name {
  color: #FFFFFF;
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
}

.features__text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  text-align: center;
}

.feedback {
  background-color: #F1E4E6;
  padding-top: 100px;
  padding-bottom: 155px;
  background-image: url(..//img/subscribe-bg.jpg);
  background-size: cover;
}

.feedback__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feedback__block {
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feedback__block-img {
  padding-bottom: 30px;
}

.feedback__block-text {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222222;
}

.feedback .block-text-it {
  font-style: italic;
}

.feedback__subscribe {
  width: 560px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
}

.subscribe-text {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  padding-bottom: 32px;
  line-height: 30px;
  text-transform: uppercase;
}

.subscribe-text-normal {
  font-weight: normal;
  font-size: 18px;
}

.subscribe-label {
  margin: 0 0 0 -10px;
}

.subscribe-email {
  margin: 0 0 0 0;
  width: 256px;
  height: 49px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: none;
  background: #E1E1E1;
  font-size: 14px;
  line-height: 17px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #222222;
}

.subscribe-button {
  width: 100px;
  height: 49px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: none;
  background: #F16D7F;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  margin-left: -3px;
}

.subscribe-button:focus,
.subscribe-button:hover {
  opacity: 0.5;
  cursor: pointer;
  outline: none;
}

.footer {
  background: #222222;
  color: #FFFFFF;
  padding: 30px 0;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__copy {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__list {
  padding-left: 7px;
}

.footer__list-icon {
  width: 32px;
  height: 32px;
  background-color: #FFFFFF;
  color: #222222;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
}

.footer__list-icon:hover {
  background-color: #F16D7F;
  color: #FFFFFF;
}

.regpromo {
  background: #F1E4E6;
  height: 148px;
}

.regpromo__title {
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  padding: 60px 0;
  text-transform: uppercase;
}

.registation__container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 680px;
  padding-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.registation__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.registation__personal {
  width: 360px;
  padding-bottom: 32px;
}

.registation__personal-top {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  padding-bottom: 20px;
}

.registation__input-name {
  border: 1px solid #eaf1fa;
  width: 360px;
  padding: 13px 0 16px 18px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  margin-bottom: 20px;
}

.registation__gender {
  width: 132px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.registation__custom-checkbox {
  vertical-align: middle;
  margin: 0;
}

.registation_txt-check {
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #222222;
}

.registation__login {
  width: 360px;
  padding-top: 32px;
}

.registation__pass-txt {
  width: 360px;
  font-weight: 300;
  font-size: 11px;
  line-height: 16px;
  color: #B1B1B1;
  padding-top: 15px;
  padding-bottom: 40px;
}

.registation__join-btn {
  width: 167px;
  padding: 17px 0;
  background-color: #F16D7F;
  border: none;
}

.registation__btn-txt {
  color: #FFFFFF;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
}

.loyality {
  width: 652px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.loyality__title {
  text-transform: uppercase;
}

.loyality__txt {
  padding-bottom: 20px;
  padding-top: 22px;
  width: 652px;
}

.loyality__feat {
  list-style: url(../img/vector-list.svg);
  padding-left: 30px;
  padding-top: 12px;
}

.loyality__feat-list {
  padding-left: 8px;
  padding-bottom: 16px;
}
/*# sourceMappingURL=style.css.map */