.brand {
   display: flex;
   height: 765px;

   &__img {
      width: 50%;
   }
   
   &__title-wrp {
      flex-grow: 1;
      padding: 0 0 0 92px;
      display: flex;
      align-items: center;
      background-color: $light-pink;
   }
   
   &__title {
      font-size: 48px;
      font-weight: 900;
      line-height: 58px;
      text-transform: uppercase;
   }
   
   &__subtitle {
      display: block;
      font-size: 37px;
      font-weight: 700;
      line-height: 44px;
   }
   
   &__subtitle-pink {
      color: $dark-pink;
   }
}
