.categories {
   padding-top: 65px;

   &__list {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
   }
   
   &__item {
      width: 360px; 
      height: 260px;
      flex-grow: 1; 

      @include tablet {
         width: 233px;
         // height: 168px;
         gap: 15px;
      }

      // @include mobile {
      //    width: 343px;
      // }
   }
   
   &__item--women {
      background-image: url(..//img/category-women.jpg);
      background-size: cover;
      background-position: center;
   }
   
   &__item--men {
      background-image: url(..//img/category-men.jpg);
      background-size: cover;
      background-position: center;
   }
   
   &__item--kids {
      background-image: url(..//img/category-kids.jpg);
      background-size: cover;
      background-position: center;
   }
   
   &__item--accesories {
      background-image: url(..//img/category-accesories.jpg);
      height: 180px;
      width: 100%;
      background-size: cover;
      background-position: center;
   }
   
   &__item-text {
      @include font (16px, 19px, 400);
      text-align: center;
      color: $light-pink;
      padding: 105px;
      text-transform: uppercase;
   }
   
   &__item-text-pink {
      color: $dark-pink;
      @include font(24px, 29px, 700);
   }
   
   .item-text-accesories { 
      padding: 65px;
   }
}
