.feedback {
   background-color: #F1E4E6;
   padding-top: 100px;
   padding-bottom: 155px;
   background-image: url(..//img/subscribe-bg.jpg);
   background-size: cover;

   &__item {
      display: flex;
      justify-content: space-between;

      @include tablet {
         display: flex;
         flex-direction: column;
         align-items: center;
      }
   }
   
   &__block {
      width: 360px;
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   
   &__block-img {
      padding-bottom: 30px;
   }
   
   &__block-text {
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      color: $black;
   }
   
   .block-text-it {
      font-style: italic;
   }
   
   &__subscribe {
      width: 560px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 50px;
   }
}
