.products {
   padding-top: 95px;
   padding-bottom: 95px;
}

.products-title {
   font-size: 30px;
   line-height: 36px;
   color: $black;
   text-align: center;
   margin-bottom: 6px;
}

.products-subtitle {
   font-size: 14px;
   line-height: 17px;
   color: #9F9F9F;
   text-align: center;
   margin-bottom: 48px;
}

.products__list {
   display: flex;
   flex-wrap: wrap;
   gap: 30px;
}

.products__item {
   background: #F8F8F8;
   width: 360px;
}

.products__item-text {
   padding: 24px 28px 20px 18px;
}

.products__item-caption {
   font-size: 13px;
   line-height: 16px;
   color: $black;
   padding-bottom: 13px;
   text-transform: uppercase;
}

.products__item-desc {
   font-weight: 300;
   font-size: 14px;
   line-height: 17px;
   color: #5D5D5D;
   padding-bottom: 18px;
}

.products__item-price {
   font-size: 16px;
   line-height: 19px;
   color: $dark-pink;
}

// .products__button {
//    text-align: center;
// }

.products__button { 
   width: 212px;
   margin: 0 auto;
   display: flex;
   justify-content: center;
   font-weight: 400;
   font-size: 16px;
   line-height: 19px;
   letter-spacing: 0.04em;
   color: $dark-pink;
   padding: 15px 0;
   text-decoration: none;
   background-color: $white;
   border: 2px solid #F26376;
   margin-top: 63px;
}

.products__button:hover,
.products__button:focus,
.products__button:active {
   cursor: pointer;
   outline: none;
   color: $white;
   background-color: $dark-pink;
}